<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head') %>
<body>
	<%- include('./partials/header') %>
	<h1>LogIn</h1>
    <hr>
    <form action="/admin" method="GET">
        <label for="">Nombre de usuario:</label>
        <input name="username" type="text" required>
        <button type="submit">INGRESAR</button>
    </form>
	
</body>
</html>